/* Page */
body {
 background-color: #fffbf5; 
}

body.start {
 background-image: url("assets/wp.jpg");
 background-size: cover; 
}

/* Style text */

* {
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #5f3b28;
  text-align: center;
}

/* Style portfolio cards */

.project-name {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.75em;
  color: #000000;
}

.project-description {
  color: #29292c;
  margin-bottom: 1.5em;
  line-height: 1.6;
  font-size: 0.95em;
}

.project-card a {
  display: inline-block;
  padding: 8px 16px;
  border: 2px black;
  border-radius: 8px;
  background-color: #fffbf5;
  transition: 0.3s; 
  margin-top: 10px;
}

.project-card a:hover {
  background-color: #463535;
  color: #fff;
}

.projects-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}


/* Style nav bar */

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 40px;
  background-color: #fffbf5;
  gap: 40px;
  flex-wrap: wrap;
}

header.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 222%;
  height: 200vh;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 

  background-image: url("assets/boxi.png");
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

header.home nav {
  margin-top: 230px;
  font-size: 2em;
}


header.home nav a {
  color: #463535;
  text-decoration: none;
  font-size: 1.2em;
  margin: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

nav a {
  color: #5f3b28;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.3 ease;
}

nav a:hover {
  background-color: #a2b2a3;
  color: white;
}

/* Style home page boxes */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.card {
  background-color: #a2b2a3;
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-align: center;
  width: 100%;
  max-width: 280px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0,0,0,0.15);
}

.card p {
  font-size: 1em;
}

.card h3 {
  margin: 12px 0 4px;
  font-size: 1.2em;
}

.header-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  margin: 20px 0 20px 100px;
  border-radius: 12px;
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 60px auto;
  max-width: 1000px;
  padding: 20px;
}

.introduction p {
  font-size: 1.2em;
  line-height: 1.6;
  color:rgb(0, 0, 0);
  flex: 1;
}


.project-card {
  background-color: #a2b2a3;
  border: 5px solid #928989;
  border-radius: 12px;
  padding: 16px;
  width: 45%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: 0.2s;
  text-align: center;
}

.project-card img {
  width: 400px;
  height: auto;
  border-radius: 12px;
  background-color: #fffbf5;
  padding: 10px;
  box-sizing: border-box;
}

/* Interests Page */

.interest-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  gap: 20px;
  margin: 20px;
}

.interest-box {
  background-color: #a2b2a3;
  border-radius: 10px;
  border: 2px solid #ddd;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.interest-box h3 {
  margin-bottom: 5px;
  color: #5f3b28;
}

.interest-box p {
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #5f3b28;
}

.interest-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

audio {
  width: 100%;
  border-radius: 5px;
}

.anime-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  margin: 20px;
}

.anime-box {
  background-color: #a2b2a3;
  border-radius: 10px;
  border: 2px solid #ddd;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.anime-box h4 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #5f3b28;
}

.anime-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.anime-box img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  background-color: #5f3b28;
  padding: 5px;
  box-sizing: border-box;
}

.drama-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  margin: 20px;
}

.drama-box {
  background-color: #a2b2a3;
  border-radius: 10px;
  border: 2px solid #ddd;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.drama-box h4 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #5f3b28;
}

.drama-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.drama-box img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  background-color: #5f3b28;
  padding: 5px;
  box-sizing: border-box;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  margin: 20px;
}

.food-box {
  background-color: #a2b2a3;
  border-radius: 10px;
  border: 2px solid #ddd;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.food-box h4 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #5f3b28;
}

.food-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.food-box img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  background-color: #5f3b28;
  padding: 5px;
  box-sizing: border-box;
}

/* About */

.about-images {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px;
}

.about-images img {
  width: 200px;
  height: auto;
  border-radius: 12px;
  background-color: #fffbf5;
  padding: 10px;
  box-sizing: border-box;
}

.about-img {
  width: 250px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* BackPack */

#my-bag {
  text-align: center;
  margin: 60px auto;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

#bag-instructions {
  margin-bottom: 15px;
  color: #555;
}

#bag {
  width: 200px;
  cursor: pointer;
  transition: 0.3s;
}

#bag:hover {
  transform: scale(1.05);
}

#click-items {
  display: grid;
  margin: 20px auto;
  grid-template-columns: repeat(7, auto);
  max-width: 350px;
  gap: 10px;
  justify-content: center;
}

.bagItem {
  width: 150px;
  background: #fffbf5;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.bagItem:hover {
  transform: scale(1.07);
}

#item-info {
  margin: 25px auto 0;
  padding: 15px;
  max-width: 600px;
  background: #fffbf5;
  border-radius: 10px;
}

#item-info h1 {
  color: #5f3b28;
  margin-bottom: 8px;
}

.footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

.footer a {
  margin: 0 10px;
  font-size: 1.8em;
  color: #5f3b28;
  transition: 0.2s;
}

.footer a:hover {
  color: #a2b2a3;
}

.note {
  margin-top: 10px;
  font-size: 1em;
  text-align: center;
  color: #000;
}

/* About section activties */

.activities {
  margin-top: 60px;
  text-align: center;
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 18px;
  margin-top: 20px;
}

.activities-box {
  background: #a2b2a3;
  padding: 18px;
  border-radius: 10px;
  border: 2px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,0.12);
  transition: 0.2s;
}

.activities-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 14px rgba(0,0,0,0.12);
}

.activities-box p {
  font-size: 0.7em;
}

.activities-box a {
  color: #5f3b28;
  font-size: 1em;
  letter-spacing: 1px;
}

/* About Section Testimonials */

.testimonials {
  margin-top: 60px;
  text-align: center;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 18px;
  margin-top: 20px;
}

.testimonials-box {
  background: #a2b2a3;
  padding: 18px;
  border-radius: 10px;
  border: 2px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,0.12);
  transition: 0.2s;
}

.testimonials-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 14px rbga(0,0,0,0.12);
}

.textimonials-box p {
  font-size: 1em;
}

.testimonials-box a {
  color: #5f3b28;
  font-size: 1em;
  letter-spacing: 1px;
}

/* Award section boxes styling */

.award {
  margin-top: 60px;
  text-align: center;
}

.award-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 18px;
  margin-top: 20px;
}

.award-box {
  background: #a2b2a3;
  padding: 18px;
  border-radius: 10px;
  border: 2px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,0.12);
  transition: 0.2s;
}

.award-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 14px rgba(0,0,0,0.12);
}




