/* Page */
body {
 background-color: #fffbf5; 
}

body.start {
 background-image: url("assets/wp.jpg");
 background-size: cover; 
}

/* Style text */

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

h2 {
  text-align: center;
}

/* Style portfolio cards */

.project-name {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: #000000;
}

.project-description {
  color: #29292c;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  font-size: 0.95rem;
}

.project-card a {
  display: inline-block;
  padding: 8px 16px;
  border: 2px black;
  border-radius: 8px;
  background-color: #fffbf5;
  transition: 0.3s; 
  margin-top: 10px;
}

.project-card a:hover {
  background-color: #463535;
  color: #fff;
}



/* Style nav bar */

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 40px;
  background-color: #fffbf5;
  gap: 40px;
  flex-wrap: wrap;
}

header.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 200%;
  height: 200vh;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 

  background-image: url("assets/boxi.png");
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

header.home nav {
  margin-top: 230px;
  font-size: 2em;
}


header.home nav a {
  color: #463535;
  text-decoration: none;
  font-size: 1.2em;
  margin: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

/* Style home page boxes */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.card {
  background-color: #a2b2a3;
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-align: center;
  width: 100%;
  max-width: 280px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0,0,0,0.15);
}

.card p {
  font-size: 1rem;
}

.card h3 {
  margin-top: 12px 0 4px;
  font-size: 1.2rem;
}

.header-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 20px 0 20px 100px;
  border-radius: 12px;
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 60px auto;
  max-width: 1000px;
  padding: 20px;
}

.introduction p {
  font-size: 1.2rem;
  line-height: 1.6;
  color:rgb(0, 0, 0);
  flex: 1;
}


.project-card {
  background-color: #a2b2a3;
  border: 5px solid #928989;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  margin: 25px;
  margin-left: 200px;
  margin-right: 200px;
}

.project-card img {
  width: 200px;
  height: auto;
  border-radius: 12px;
  background-color: #fffbf5;
  padding: 10px;
  box-sizing: border-box;
}

/* Interests Page */

.interest-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  margin: 20px;
}

.interest-box {
  background-color: #a2b2a3;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.interest-box h3 {
  margin-bottom: 5px;
   color: #5f3b28;
}

.interest-box p {
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #5f3b28;
}

.interest-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

audio {
  width: 100%;
  border-radius: 5px;
}

.anime-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  margin: 20px;
}

.anime-box {
  background-color: #a2b2a3;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.anime-box h4 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #5f3b28;
}

.anime-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.anime-box img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  background-color: #5f3b28;
  padding: 5px;
  box-sizing: border-box;
}

/* About */

.about-images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 15px;
  margin: 20px;
}

.about-images img {
  width: 200px;
  height: auto;
  border-radius: 12px;
  background-color: #fffbf5;
  padding: 10px;
  box-sizing: border-box;
}

.about-img {
  width: 250px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* BackPack */

#my-bag {
  text-align: center;
  margin: 60px auto;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

#bag-instructions {
  margin-bottom: 15px;
  color: #555;
}

#bag {
  width: 200px;
  cursor: pointer;
  transition: transform 0.3s;
}

#bag:hover {
  transform: scale(1.05);
}

#click-items {
  display: none;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.bagItem {
  width: 100px;
  background: #fffbf5;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.bagItem:hover {
  background: #fffbf5;
  transform: scale(1.07);
}

#item-info {
  margin: 25px auto 0;
  padding: 15px;
  max-width: 600px;
  background: #fffbf5;
  border-radius: 10px;
}

#item-info h1 {
  color: #1b3526;
  margin-bottom: 8px;
}

.footer {
  text-align: center;
  margin-top: 50px;
}

.note {
  text-align: center;
}

